.cards-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
}

.cards-container .card-info{
    width: 400px;
    height: 200px;
    background-color: #252A34;
    color: #eaeaea;
    border-radius: 5px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cards-container .card-info .card-heading{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 576px) {
    .cards-container{
        padding: 25px;
    }
    .cards-container .card-info{
        width: 315px;
        height: 220px;
    }
}