.services-container{
    height: 800px;
    background-color: #EAEAEA;
}

.services-container .container-heading{
    padding: 18px;
}
.services-container .container-heading .heading{
    text-align: center;
    font-size: 34px;
    color: #252A34;
    font-family: 'Inter', sans-serif;
}
.services-container .container-heading p{
    text-align: center;
    font-size: 16px;
}


@media(max-width: 576px) {
    .services-container .container-heading .heading{
        font-size: 28px;
    }
    .services-container .container-heading p{
        font-size: 14px;
    }
}